.rastvor-config-button {
                color: #fff !important; background-color: #ff0080 !important;
            }
            .rastvor-config-header {background-color: #008080 !important;}
            .rastvor-config-footer {background-color: #004080 !important;}
            .rastvor-config-text {color: #ff0080 !important;}