.rastvor-config-button {
                color: #fff !important; background-color: #444 !important;
            }
            .rastvor-config-header {background-color: #C0B070 !important;} 
            .rastvor-config-footer {background-color: #eee !important;}
            .rastvor-config-text {color: #000000 !important;}