.rastvor-config-button {
                color: #fff !important; background-color: #000000 !important;
            }
            .rastvor-config-header {background-color: #c0f41c !important;} 
            .rastvor-config-footer {background-color: #9a477d !important;}
            .rastvor-config-text {color: #000000 !important;}